extends layout

block head
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css" rel="stylesheet")
    link(href="css/main.css" rel="stylesheet")

block content
    .container
        .row
            .content.col.m12.s6.l6
    script(src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js" type="text/javascript")
    script(src='js/app.js')

