.task.completed .text {
    opacity: 0.4;
}

.container {
    width: 98%;
}

.header {
    overflow: hidden;
}

.task.row {
    margin: 0;
    padding: 0;
    position: relative;
    top: 0px;
    background-color: white;
}

.task .text{
    transition: opacity 0.3s;
}

.task.focus {
    background-color: rgba(0,255,0,0.5);
}

.clear {
    margin-left: 5px;
}

.right {
    float: right;
}

i.material-icons.dp48.small {
    font-size: 1.5rem;
    margin-top: -0.4em;
}